<div class="container">
    <div class="top-left-container">
        <a class="navbar-brand" href="javascript:void(0);"><img src="assets/images/logo.png"
                alt="openFinance"></a>
        <div class="left-title-box">
            <div class="heading">
                <h2>We make it Super Simple</h2>
                <span class="heading-bottom-line"><img src="assets/images/Line 3.svg"
                        alt="heading-line"></span>
            </div>
            <div class="heading-img">
                <img src="assets/images/collect_img-video.png" alt="">
            </div>
            <div class="heading-bg-img">
                <img src="assets/images/blob-small.svg">
            </div>
        </div>
    </div>
    <div class="top-right-container collapse navbar-collapse" id="head-navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">Solutions</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);">Pricing</a>
            </li>
            <li class="nav-item active">
                <button class="nav-link login-btn">Login</button>
            </li>
            <li class="nav-item active">
                <button class="nav-link get-started">Get Started</button>
            </li>
        </ul>
        <div class="baner-chart">
            <img src="assets/images/circle.svg">
        </div>
    </div>
</div>